.badge {
  @apply text-xs font-medium me-2 px-2.5 py-0.5 rounded;

  &.badge-default {
    @apply bg-blue-100 text-blue-800;

    &.badge-dark {
      @apply dark:bg-blue-900 dark:text-blue-300;
    }

    &.badge-border {
      @apply border border-blue-400;
    }
  }

  &.badge-gray {
    @apply bg-gray-100 text-gray-800;

    &.badge-dark {
      @apply dark:bg-gray-900 dark:text-gray-300;
    }

    &.badge-border {
      @apply border border-gray-500;
    }
  }

  &.badge-red {
    @apply bg-red-100 text-red-800;

    &.badge-dark {
      @apply dark:bg-red-900 dark:text-red-300;
    }

    &.badge-border {
      @apply border border-red-400;
    }
  }

  &.badge-green {
    @apply bg-green-100 text-green-800;

    &.badge-dark {
      @apply dark:bg-green-900 dark:text-green-300;
    }

    &.badge-border {
      @apply border border-green-400;
    }
  }

  &.badge-yellow {
    @apply bg-yellow-100 text-yellow-800;

    &.badge-dark {
      @apply dark:bg-yellow-900 dark:text-yellow-300;
    }

    &.badge-border {
      @apply border border-yellow-300;
    }
  }

  &.badge-indigo {
    @apply bg-indigo-100 text-indigo-800;

    &.badge-dark {
      @apply dark:bg-indigo-900 dark:text-indigo-300;
    }

    &.badge-border {
      @apply border border-indigo-400;
    }
  }

  &.badge-purple {
    @apply bg-purple-100 text-purple-800;

    &.badge-dark {
      @apply dark:bg-purple-900 dark:text-purple-300;
    }

    &.badge-border {
      @apply border border-purple-400;
    }
  }

  &.badge-pink {
    @apply bg-pink-100 text-pink-800;

    &.badge-dark {
      @apply dark:bg-pink-900 dark:text-pink-300;
    }

    &.badge-border {
      @apply border border-pink-400;
    }
  }
}
