.button {
  @apply text-sm font-medium rounded-lg px-5 py-2.5 me-2 mb-2 focus:outline-none focus:ring-4;

  &.button-default {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-blue-300;

    &.dark {
      @apply dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    }
  }

  &.button-alternative {
    @apply text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200;

    &.dark {
      @apply dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700;
    }
  }

  &.button-gray {
    @apply text-white bg-gray-800 hover:bg-gray-900 focus:ring-gray-300;

    &.dark {
      @apply dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700;
    }
  }

  &.button-light {
    @apply text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-gray-200;

    &.dark {
      @apply dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700;
    }
  }

  &.button-green {
    @apply text-white bg-green-700 hover:bg-green-800 focus:ring-green-300;

    &.dark {
      @apply dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
    }
  }

  &.button-red {
    @apply text-white bg-red-700 hover:bg-red-800 focus:ring-red-300;

    &.dark {
      @apply dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
    }
  }

  &.button-yellow {
    @apply text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-yellow-300;

    &.dark {
      @apply dark:focus:ring-yellow-900;
    }
  }

  &.button-purple {
    @apply text-white bg-purple-700 hover:bg-purple-800 focus:ring-purple-300;

    &.dark {
      @apply dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900;
    }
  }

  //outline
  &.button-default-outline {
    @apply text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-blue-300;

    &.button-default-outline-dark {
      @apply dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800;
    }
  }

  &.button-gray-outline {
    @apply text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-gray-300;

    &.button-gray-outline-dark {
      @apply dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800;
    }
  }

  &.button-green-outline {
    @apply text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-green-300;

    &.button-green-outline-dark {
      @apply dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800;
    }
  }

  &.button-red-outline {
    @apply text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-red-300;

    &.button-red-outline-dark {
      @apply dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900;
    }
  }

  &.button-yellow-outline {
    @apply text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-yellow-300;

    &.button-yellow-outline-dark {
      @apply dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900;
    }
  }

  &.button-purple-outline {
    @apply text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-purple-300;

    &.button-purple-outline-dark {
      @apply dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900;
    }
  }
}
