version: "3.2"

volumes:
  db_data : {}
  mongodb_data : {}

services:
  web:
    build:
      context: ./docker/bin/php
      args:
        - UBUNTU_ARCH=${UBUNTU_ARCH}
        - SERVER_NAME=${SERVER_NAME}
        - SERVER_ALIAS=${SERVER_ALIAS}
    restart: always
    privileged: true
    ports:
      - ${HTTP81_PORT}:80
      - ${HTTPS81_PORT}:443
      - ${VITE_PORT}:${VITE_PORT}
    volumes:
      - ./:/var/www/html
      - ./docker/conf/php/php.ini:/usr/local/etc/php/php.ini
      - ./docker/conf/php/apache2.conf:/etc/apache2/apache2.conf
      - ./docker/conf/php/000-default.conf:/etc/apache2/sites-available/000-default.conf
#      - /etc/letsencrypt/archive/alfredo.kr:/etc/letsencrypt/archive/alfredo.kr
#      - /etc/letsencrypt/live/alfredo.kr:/etc/letsencrypt/live/alfredo.kr
    links:
      - db:mariadb
#      - mongo:mongodb

  db:
    build:
      context: ./docker/bin/mariadb
    restart: always
    ports:
      - ${DOCKER_DB_PORT}:3306
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/conf/mariadb/my.cnf:/etc/mysql/my.cnf

#  mongo:
#    image: mongo:4.4.6
#    restart: always
#    ports:
#      - ${MONGODB_PORT}:27017
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: root
#      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
#    volumes:
#      - mongodb_data:/data/db
#
#  mongo-express:
#      image: mongo-express
#      restart: always
#      ports:
#        - ${MONGOEXPRESS_PORT}:8081
#      environment:
#        ME_CONFIG_MONGODB_ADMINUSERNAME: root
#        ME_CONFIG_MONGODB_ADMINPASSWORD: ${DB_PASSWORD}
#        ME_CONFIG_MONGODB_URL: mongodb://root:${DB_PASSWORD}@mongo:27017/
#      links:
#        - mongo:mongo
#
#  phpmyadmin:
#    image: phpmyadmin/phpmyadmin
#    restart: always
#    ports:
#      - ${PHPMYADMIN_PORT}:80
#    environment:
#      PMA_HOST: db
#      MYSQL_ROOT_PASSWORD: password
#    links:
#      - db
